tqdm
ipdb
h5py==3.10.0
terminaltables
nltk
rouge-score==0.1.2
hydra-core==1.3.2
optimum==1.14.1
sentence_transformers==3.0.0
positional_encodings==6.0.1
ffmpeg-python==0.2.0
accelerate==0.24.1
bitsandbytes
ego4d
lightning==2.4.0
lightning-utilities==0.11.7
transformers==4.44.2